body{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.back-img
{
    background-image: url('../img/background.jpg');
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
.div-container{
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: lightgreen;
        border-radius: 0.7rem;
        opacity: 0.5;
  }
.div-text{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
.home-text{
    text-align: center;
    padding-left: 50%;
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 1.8px;
    word-spacing: 5.8px;
    color:black;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
  }
  .img-fridge{
    position: relative;;
     margin-left: auto;
     margin-right: auto;
     left:30%;
   }