.backgr-img{
	background-image: url('../img/background.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    position: relative;
    height:34.5em;
    background-size: cover;
    width: 100%;
    left: 0;
	top:0;
}
.btn-login{
    border:none;
    background:#6eff95;
    outline:none;
    height: 40px;
    width: 200px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position:absolute;
    left:30%;
    top:120%;
    font-family: Georgia, serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    z-index:1;
}
.btn-login:hover{
	cursor: pointer;
	background:#00ad2f;
	color: #000;
	font-family: Georgia, serif;
	font-size: 16px;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
.text-signin{
    text-align: center;
    color: #000;
}

